
<section class="container">

<div class="box">
<figure class="img1">
    <img src="./img/vr.jpg" alt="vr-picture" width="300" length="300">
    <figcaption>Can VR be better? A Closer Look</figcaption>
</figure>
</div>

<div class="box">
<figure class="img2">
    <img src="./img/fish.jpg" alt="fish-picture" width="300" length="300">
    <figcaption>CFun Facts about Different Breeds of Fish Worldwide</figcaption>
</figure>
</div>

<div class="box">
<figure class="img3">
    <img src="./img/frog.jpg" alt="frog-picture" width="300" length="300">
    <figcaption>More Frogs Died out in 2021</figcaption>
</figure>
</div>

<div class="box">
<figure class="img4">
    <img src="./img/microscope.jpg" alt="micrscope-picture" width="300" length="300">
    <figcaption>Vaccination Breakthroughs in Fall</figcaption>
</figure>
</div>

<div class="box">
<figure class="img5">
    <img src="./img/virtual.jpg" alt="virtual-picture" width="300" length="300">
    <figcaption>Make Virtual Classes More Fun</figcaption>
</figure>
</div>

<div class="box">
<figure class="img6">
    <img src="./img/drone.jpg" alt="drone-picture" width="300" length="300">
    <figcaption>The Future of Drones</figcaption>
</figure>
</div>

</section>

